
.titulo{
  padding: 1%;
}
.container {
    margin-top: 10px;
    display: flex;
    height: 70vh; /* Establece la altura del contenedor al 100% del viewport */
  }
    
  .divImage {
    justify-content: center;
    flex-grow: 0; /* Evita que el primer div crezca */
    flex-shrink: 0; /* Evita que el primer div se encoja */
    width: 40%;
    margin-right: 20px; /* Margen a la derecha del primer div */
  }
  
  .divInformation {
    flex-grow: 1;
    margin-left: 10px; /* Margen a la izquierda del segundo div */
  }
.contend{
  padding: 1%;
  margin-top: 20px;
}

.text {
    text-align: justify;
}

