<div class="titulo d-flex justify-content-center">
  <h1 class=""> Información general</h1>
</div>
<div class="container">
  
  <div class="divImage  d-flex justify-content-center">
    <img src="../assets/Foto.jpg" alt="" class="rounded-circle" width="290px" height="340px">
  </div>
  <div class="divInformation d-flex justify-content-center">
    <div class="contend">
      <p class="text">En el siguiente portal encontrará la información relacionada a: datos personales, mi perfil pofesional,
        mis experiencias de vida en el ámbito profesional, estudios realizados,
        mis habilidades y tecnologías que he usado a lo largo de mi trayectoria académica y  como
        profesional en la ingeniría de sistemas.</p>

      <h5>Inforamación personal</h5>
      <h6>Nombre: Camilo Hernán Anacona Dorado </h6>
      <h6>Profesión: Ingeiero de sistemas </h6>
      <h6>Correo: camilohernananacona@gmail.com</h6>
      <h6>Dirección: Calle 11 # 1-15, Popayán</h6>
      <h6>Contacto: 3204786942</h6>

      <h5>Redes sociales y más</h5>
      
    </div>
  </div>
</div>



