<div class="titulo d-flex justify-content-center">
    <h1 class=""> Perfil profesional</h1>
</div>

<div class="container">
    <div class="divImage d-flex justify-content-center">
        <img src="../assets/Foto.jpg" alt="" class=" rounded-circle  " width="300" height="250">
    </div>

    <div class="divdescripcion d-flex justify-content-center">
        <div class="contend">
            <p>
                Ingeniero de sistemas con año y medio de experiencia en el desarrollo, instalación, aplicación
                de pruebas y mantenimiento de sistemas de software. Poseo un amplio conocimiento y
                dominio de plataformas, lenguajes y sistemas integrados que permiten el excelente desarrollo de
                las tareas y actividades relacionadas. Mi enfoque está centrado en la adopción de metodologías
                innovadoras para optimizar procesos y mejorar la eficiencia. Apasionado por la exploración
                de nuevas tecnologías y el aprendizaje continuo, así como la colaboración de en equipos
                interdisciplinarios para impulsar la innovación. Mi objetivo es crecer profesionalmente
                mientras contribuyo al desarrollo de soluciones tecnológicas de vanguardia.
            </p>
            <form action="">
                <input type="text" placeholder="Ingrese nombre">
                <button class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>