<div class="titulo d-flex justify-content-center">
    <h1 class="">Referencias</h1>
</div>

<div class="container">
    <div class="personalRefs d-flex justify-content-center">
        <div class="referencias">
            <h4>Personales</h4>
            <p style="margin-bottom: 1rem;">
                Nombre: Leidy Carolina Dorado <br>
                Vínculo: Hermana <br>
                Contacto: 3126627400
            </p>
            <p style="margin-bottom: 1rem;">
                Nombre: Hamintón Alberto Jurado <br>
                Vínculo: Amigo <br>
                Contacto: 3117003556
            </p>
            <p style="margin-bottom: 0rem;">
                Nombre: Edynson Muñoz Jimenez <br>
                Vínculo: Amigo <br>
                Contacto: 3148073770
            </p>
        </div>
        
    </div>

    <div class="profesionalRefs d-flex justify-content-center">
        <div class="contend">
            <div class="v">
                <h4>Profesionales</h4>
                <p style="margin-bottom: 1rem;">
                    Nombre: Oscar Jovany Chauza <br>
                    Cargo: Desarrollador <br>
                    Entidad: Bancolombia <br>
                    Contacto: 3013822494
                </p>
                <p style="margin-bottom: 1rem;">
                    Nombre: Fabian Gonzales Lasso <br>
                    Cargo: Ingeniero de soporte <br>
                    Entidad: Universidad del Cauca <br>
                    Contacto:  3145117667
                </p>
                <p style="margin-bottom: 1rem;">
                    Nombre: Daniel Eduardo Paz <br>
                    Cargo: Docente <br>
                    Entidad: Universidad del Cauca <br>
                    Contacto:  3126801593

                </p>
            </div>
        </div>
    </div>
</div>

