<!--Header-->
<nav class="navbar">
  <div class="navbar-left">
    <ul (click)="redirectionTo('')">
      <li><a >Inicio</a></li>
    </ul>
  </div>
  <div class="navbar-right">
    <ul>
      <li><a (click)="redirectionTo ('perfil')">Perfil</a></li>
      <li><a (click)="redirectionTo ('experiencia')">Experiencia</a></li>
      <li><a (click)="redirectionTo ('formacion')">Formación</a></li>
      <li><a (click)="redirectionTo ('habilidades')">habilidades</a></li>
      <li><a (click)="redirectionTo ('tecnologias')">Tecnologías</a></li>
      <li><a (click)="redirectionTo ('intereses')">Aficiones e intereses</a></li>
      <li><a (click)="redirectionTo ('referencias')">Referencias</a></li>
    </ul>
  </div>
</nav>
