<div class="titulo d-flex justify-content-center">
    <h1 class="">Habilidades</h1>
</div>

<div class="container">
    <div class="divHpersonales d-flex justify-content-center">
        <div class="hPersonales">
            <h4 class="text-center">Personales</h4>
            <p>
                *Responsabilidad. Con lo que ayudaría a la mpresa a cumplir con las entregas en tiempos establecidos
                y lo establecido. <br>
                *Creatividad. Capaz de aportar ideas innovadoras para la solución de problemas complejos. <br>
                *Resolución de problemas. Capaz de convertir grandes problemas en soluciones sencillas. <br>
                *Trabajo en equipo. Colaboración en áreas multidisciplinarias para lograr objetivos de la mejor calidad. <br>
                *Adaptabilidad. Gran capacidad y facilidad de adaptación a cambios. <br>
                *Inteligencia emocional. Capacidad absoluta en el control emocional en el entorno laboral y social en pro de un ambiente saludable. <br>
                *Toma de desiciones. Capacidad en la toma de desiciones rápidas y acertadas con el fín de dar buenas soluciones. <br>
                *Liderazgo. Con capacidad de liderar equipos multidisciplinarios, demostrando el compromiso, empatía y enfoque hacia los objetivos <br>
            </p>
        </div>

    </div>

    <div class="divHTecnicas ">
        <div class="contend">
            <div class="hTecnicas">
                <h4 class="text-center">Técnicas</h4>
                <div class="progress " role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 90%;  height: 25px;">
                    <div class="progress-bar bg-success" style="width: 90%"> Java 90%</div>
                </div>
                <div class="progress " role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 90%;  height: 25px;">
                    <div class="progress-bar" style="width: 90%"> Java 90%</div>
                </div>
            </div>
        </div>
    </div>
</div>