<div class="titulo d-flex justify-content-center">
    <h1 class="">Experiencias</h1>
</div>
<div>
    <div class="row row-cols-3 g-4" style=" width: 90%; margin: 0 auto;">
        <div class="col">
            <div class="card shadow-lg p-3 mb-5 bg-body-tertiary" style="width: 21rem;">
                <div class="card-body " style="max-height: 25rem; overflow-y: auto;">
                    <h5 class="card-title text-center">Desarrollador de software</h5>
                    <h6 class="card-subtitle text-muted"> DivTIC, Universidad del Cauca </h6>
                    <p class="timeDuration mb-0 text-muted">Duración: 11 meses </p>
                    <p class="functions mb-0 text-muted">Funciones </p>
                    <p>*Modelado de bases de datos y colaboración con la definición de la arquitectura del proyecto.</p>
                    <p>*Desarrollo de microservicios con el framework Spring Boot de Java.</p>
                    <p>*Desarrollo de componentes frontend con el framework angular y tecnologías como: 
                        TypeScript, JavaScript, CSS, Bootstrap y Material Design.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-lg p-3 mb-5 bg-body-tertiary" style="width: 21rem;">
                <div class="card-body " style="max-height: 25rem; overflow-y: auto;">
                    <h5 class="card-title text-center">Analista de software</h5>
                    <h6 class="card-subtitle text-muted">Namtrik development </h6>
                    <p class="timeDuration mb-0 text-muted">Duración: 5 meses </p>
                    <p class="functions mb-0 text-muted">Funciones </p>
                    <p>*Levantamiento de requerimientos del cliente. </p>
                    <p>*Definición y especificación de requisitos.</p>
                    <p>*Refinación de historias de usuario.</p>
                    <p>*Elaboración de mokups y diseño de prototipos.</p>
                    <p>*Validación de prototipos e historias de usuario del software con el cliente.</p>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card shadow-lg p-3 mb-5 bg-body-tertiary" style="width: 21rem;">
                <div class="card-body" style="max-height: 25rem; overflow-y: auto;">
                    <h5 class="card-title text-center">Analista de software</h5>
                    <h6 class="card-subtitle text-muted"> División de recreación y deporte, Universidad del Cauca </h6>
                    <p class="timeDuration mb-0 text-muted">Duración: 5 meses </p>
                    <p class="functions mb-0 text-muted">Funciones </p>
                    <p>*Levantamiento de requerimientos del cliente.</p>
                    <p>*Definición y especificación de requisitos.</p>
                    <p>*Elaboración de mokups, diseño y validación de prototipos del software.</p>
                    <p>*Modelado de procesos de la dependencia</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-lg p-3 mb-5 bg-body-tertiary" style="width: 21rem;">
                <div class="card-body" style="max-height: 25rem; overflow-y: auto;">
                    <h5 class="card-title text-center">Monitor de servidores y servicios de internet</h5>
                    <h6 class="card-subtitle text-muted">DivTIC, Universidad del Cauca </h6>
                    <p class="timeDuration mb-0 text-muted">Duración: 10 meses </p>
                    <p class="functions mb-0 text-muted">Funciones </p>
                    <p>*Creación y adaptación de Scripts para el monitoreo de servidores con la herramienta Zabbix.</p>
                    <p>*Uso y manejo de la herramienta de control de DataCenter DCIM para mantener el 
                        control y monitoreo de la infraestructura.</p>
                    <p>*Establecer conexión y configuración con el sistema de monitoreo de redes Nagios, 
                        para tener el control y monitoreo constante de la red.</p>
                    <p>*Implementación y adaptación de sistema de centralización y gestión de Logs con la 
                        herramienta de gestión ELK Stack.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-lg p-3 mb-5 bg-body-tertiary" style="width: 21rem;">
                <div class="card-body" style="max-height: 25rem; overflow-y: auto;">
                    <h5 class="card-title text-center">Soprte tecnologías IoT</h5>
                    <h6 class="card-subtitle text-muted"> División ambiental, Universidad del Cauca </h6>
                    <p class="timeDuration mb-0 text-muted">Duración: 3.5 meses </p>
                    <p class="functions mb-0 text-muted">Funciones </p>
                    <p>*Investigación y soporte en tecnologías IoT para proyecto de gestión ambiental de la 
                        división.</p>
                    <p>*Levantamiento de requerimientos, definición de arquitectura, diseño de Dashboard
                        estadístico del sistema.</p>
                    <p>*Levantamiento de servicios en la nube para almacenamiento y monitoreo de la 
                        información.</p>
                </div>
            </div>
        </div>
        
       
       
        


    </div>
</div>